<%= content_for :javascript do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var jsonData = [
        $.ajax({
          url: "/stats/new-users",
          dataType: "json",
          async: false,
        }).responseText,
        $.ajax({
          url: "/stats/new-reviews",
          dataType: "json",
          async: false,
          }).responseText
      ];

      var data = [ 
        new google.visualization.DataTable(jsonData[0]),
        new google.visualization.DataTable(jsonData[1])
      ];

      var options = {
        width: 280,
        height: 280,
        legend: { position: 'none' },
        chartArea:{left:25,top:20,width:"85%",height:"80%"}
      };

      new google.visualization.LineChart(document.getElementById('users_chart')).draw(data[0], options);
      new google.visualization.LineChart(document.getElementById('reviews_chart')).draw(data[1], options);
    }
  </script>
<% end %>

<article>
  <h2>What game would you R3PL4Y?</h2>
  <p>
    R3PL4Y is a service for you as a gamer. A place where you can gather impressions about games you play, and share those impressions with your friends.
  </p>
</article>

<article class="stats">
  <div class="user-stats">
    <h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>Most recent registred</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="users_chart" class="chart"></div>
  </div>
  <div class="review-stats">
    <h2>Reviews</h2>
    <table>
      <thead>
        <tr>
          <th>Most recent reviews</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><a href="<%= user_review_path(review.user, review) %>"><%= review.game.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="reviews_chart" class="chart"></div>
  </div>
  <div class="clear"></div>
</article>

<%= content_for :aside do %>
<aside class="sign_in">
	<h2>Sign in</h2> 
    <p>Choose your favorite identiy provider in order to sign in.</p>
    <%= render :partial => 'devise/identity_providers', :locals => { :user_id => nil, :redirect_url => nil } %>
</aside>

<aside>
	<article>
		<h2>Hello,</h2>
		<p>
			Do you want to contribute to R3PL4Y? We gladly accept all the love you can give us.
			Please contact at <a href="mailto:hello@mikaellundin.name">hello@mikaellundin.name</a>
		</p>
	</article>
</aside>
<% end %>
