<%# Set the page title %>
<% content_for :title do %><%= "#{@review.game.title} - #{@review.user.name}" %><% end %>


<section class="review-card">
	<%= render :partial => 'show_full', :object => @review %>
</section>

<% content_for :aside do %>
<!-- START: aside -->
<aside>
	<%= render :partial => 'users/show', :object => @review.user %>
</aside>
<aside class="sign_in">
    <%= render :partial => 'sign_up/review_game', :object => @review.game %>
</aside>
<!-- END: aside -->
<% end %>

<% content_for :meta do %>
<!-- START: Twitter Summary Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@rubriks" />
<meta name="twitter:title" content="<%= "#{@review.game.title} reviewed by #{@review.user.name}" %>" />
<meta name="twitter:description" content="<%= "Gives this game a #{@review.rating} out of 5" %>" />
<meta name="twitter:image" content="<%= @review.game.thumbnail.url %>" />
<!-- END: Twitter Summary Card -->
<% end %>
